<template>
  <div class="flex">
    <img :src="img" class="w-1/4 rounded-sm" alt="">
    <div class="flex-auto">
      <slot name="title"></slot>
    </div>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive, defineProps } from 'vue'
const prop = defineProps<{
  img:string
}>()
</script>

<style scoped>

</style>
