<template>
  <div class="w-full h-full">

    <div class="relative w-full h-full transition duration-300 ease-in-out cursor-pointer group hover:-translate-y-1">
      <img :src="img" class="object-cover w-full h-full"  alt="">
      <div class="absolute p-1 text-xs transition ease-in-out bg-black rounded-lg bottom-1 right-1 text-slate-50 group-hover:hidden">播放量</div>
      <div class="absolute top-0 w-full h-full bg-black opacity-50 -z-10 group-hover:z-10">
        <div class="flex items-center justify-center h-full mx-auto text-xl group-hover:z-10 text-slate-50">
          <!-- <Iconpack :icon="Play" :size="40" class="hover:fill-blue-500"></Iconpack> -->
          <svg width="50" height="50" viewBox="0 0 48 48" class="hover:fill-blue-500" fill="#ffffff" xmlns="http://www.w3.org/2000/svg"><path d="M15 24V11.8756L25.5 17.9378L36 24L25.5 30.0622L15 36.1244V24Z" fill="#ffffff" stroke="#ffffff" stroke-width="4" stroke-linejoin="round"/></svg>
        </div>
      </div>
    </div>
    <slot name="title"></slot>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive, defineProps } from 'vue'
import Iconpack from "@/components/common/Iconpack.vue";
import { Play } from "@icon-park/vue-next";
const prop = defineProps<{
  img: string,

  id: number
}>()
</script>

<style scoped>

</style>
