<template>
  <swiper
    slides-per-view="auto"
    :grab-cursor="true"

    slides-per-group-auto

  >
    <swiper-slide>
      <img class="banner-image" src="https://img1.baidu.com/it/u=413643897,2296924942&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1682096400&t=d757bb841c0c277f90d9636103a35807" alt="">
    </swiper-slide>

    <swiper-slide>
      <img class="banner-image" src="https://img1.baidu.com/it/u=3007048469,3759326707&fm=253&app=120&size=w931&n=0&f=JPEG&fmt=auto?sec=1682096400&t=6da503016a91a66d68e5ce50c7d63c37" alt="">
    </swiper-slide>

    <swiper-slide>
      <img class="banner-image" src="https://img.tukuppt.com/photo-big/00/00/94/6152bc0ce6e5d805.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
      <img class="banner-image" src="https://img1.baidu.com/it/u=307074048,654359288&fm=253&fmt=auto&app=120&f=JPEG?w=889&h=500" alt="">
    </swiper-slide>
  </swiper>
</template>
<script setup lang='ts'>
import { Navigation, Pagination, Scrollbar, A11y } from 'swiper';

// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';

</script>

<style scoped>
.swiper {
  @apply -mx-2.5;
}
.swiper-slide {
    @apply w-full lg:w-1/2 xl:w-1/3 2xl:w-1/4 px-2.5;
}
.banner-image {
  @apply cursor-pointer transition-all object-cover rounded-lg h-[200px] w-full;
  @apply hover:shadow hover:opacity-80;
}
</style>
