<template>
  <div class="h-full px-8">
    <p class="py-6 text-3xl font-thin">推荐</p>
    <div>
      <Swiper />
    </div>
    <div class="py-6">
      <div class="flex items-center text-2xl font-thin">
        <p>你的专属歌单</p>
        <Iconpack :icon="Right"></Iconpack>
      </div>
      <div class="flex space-x-4  my-6 w-[150px] h-[150px]">
        <Musicbox img="https://img1.baidu.com/it/u=567782244,1695500002&fm=253&fmt=auto&app=138&f=JPEG?w=753&h=500"
          v-for="(item, index) in 6" class='w-full h-full' :id="1">
          <template #title>
            <p class="w-full text-sm truncate">这这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷是一个向日葵摘枇杷</p>
          </template>
        </Musicbox>
      </div>
    </div>
    <div>
      <div class="flex items-center text-2xl font-thin">
        <p>推荐新音乐</p>
        <Iconpack :icon="Right"></Iconpack>
      </div>
      <div class="grid grid-cols-5 gap-4 py-8">
        <Card v-for="item in 10" class="cursor-pointer hover:bg-gray-200" img="http://p1.music.126.net/-BnrseWE4AyRhvhTddRSNA==/109951168554930181.jpg">
          <template #title>
            <div class="w-full h-full px-4 text-sm text-gray-400">
              <p class="py-2">名称</p>
              <p>介绍</p>
            </div>
          </template>
        </Card>
      </div>
    </div>
    <div>
      <div class="flex items-center text-2xl font-thin">
        <p>推荐MV</p>
        <Iconpack :icon="Right"></Iconpack>
      </div>
      <div class="w-[300px] flex space-x-10">
          <Musicbox img="https://img1.baidu.com/it/u=567782244,1695500002&fm=253&fmt=auto&app=138&f=JPEG?w=753&h=500"
          v-for="(item, index) in 2" class='w-full h-full' :id="1">
          <template #title>
            <p class="w-full text-sm truncate">这这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷这是一个向日葵摘枇杷是一个向日葵摘枇杷</p>
          </template>
          </Musicbox>
        </div>
    </div>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import Swiper from "@/components/common/swiper/Swiper.vue";
import Iconpack from "@/components/common/Iconpack.vue";
import { Right } from "@icon-park/vue-next";
import Musicbox from "@/components/common/box/Musicbox.vue";
import Card from "@/components/common/box/Card.vue";
</script>

<style scoped>
</style>
