<template>
  <div class="flex w-full h-screen text-xl">
    <div class="w-[200px] bg-gray-100 h-full">
      <Menu />
    </div>
    <div class="flex flex-col flex-1 h-full">
      <div class="h-14">
        <Header />
      </div>
      <div class="flex-1">
        <RouterView></RouterView>
      </div>
      <div class="h-20">
        <Player />
      </div>
    </div>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import Menu from "@/components/common/layout/menu/menu.vue";
import Header from "@/components/common/layout/header/header.vue";
import Player from "@/components/common/layout/player/player.vue";


</script>

<style scoped>
</style>
