<template>
  <div v-for="(item, index) in menu" :key="index" class="mx-4 mt-10 text-base">
    <div class="p-2">{{ item.name }}</div>
    <div v-for="(menu, index) in item.menus" :key="index">
      <div @click="click(menu)" :class="currentKey==menu.key? 'bg-blue-300': 'hover:bg-slate-200'"  class="flex items-center py-2 text-gray-500 rounded-lg cursor-pointer ">
        <Iconpack :icon="menu.icon" size="20" theme="outline" class="p-2"></Iconpack>
        <span>{{ menu.name }}</span>
      </div>
      <!-- <RouterLink :to="menu.key" class="flex items-center py-2 text-gray-500 rounded-lg cursor-pointer ">
        <Iconpack :icon="menu.icon" size="20" theme="outline" class="p-2"></Iconpack>
        <span>{{ menu.name }}</span>
      </RouterLink> -->
    </div>
  </div>
</template>

<script setup lang='ts'>
// import { useRoute } from "vue-router";
import Iconpack from "@/components/common/Iconpack.vue";
import { useMenu } from "@/components/common/layout/menu/menu";

const { menu, currentKey, click } = useMenu()

</script>

<style scoped>

/* .router-link-active{
  background-color: aqua;
} */
</style>
