<template>
  <component :is="icon" :theme="theme" :size="size" :fill="fill"></component>
</template>

<script setup lang='ts'>
import { defineProps } from 'vue'

defineProps<{
  icon: any,
  theme?: 'outline' | 'filled' | 'two-tone' | 'multi-color',
  size?: number | string,
  fill?: string| string[]
}>()
</script>

<style scoped>

</style>
