<template>
  <template v-if="init">
    <RouterView></RouterView>
  </template>
  <template v-else>
    <Host></Host>
  </template>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import Host  from "./Host.vue";

const init = ref<Boolean>(true)
</script>

<style scoped>

</style>
