<template>
  <div class="w-full bg-slate-200">
    <div class="flex items-center justify-between p-4 text-gray-500">
      <div class="flex items-center">
        <span>
          <Iconpack :icon="Left" size="20"></Iconpack>
        </span>
        <span>
          <Iconpack :icon="Right" size="20"></Iconpack>
        </span>
        <div>
          <el-form :model="form">
            <el-form-item>
              <el-popover :width="240" trigger="focus"
                popper-style="box-shadow: rgb(14 18 22 / 35%) 0px 10px 38px -10px, rgb(14 18 22 / 20%) 0px 10px 20px -15px; padding: 20px;">
                <template #reference>
                  <el-input v-model="form.search" class="pl-4" placeholder="搜索音乐、MV、歌单" :prefix-icon="Search" />
                </template>
                <template #default>
                  <div>123</div>
                </template>
              </el-popover>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="flex items-center space-x-4">
        <div>
          <img src="@/assets/logo.svg" alt="头像" class="object-fill w-6 h-6">
        </div>
        <div>
          <p class="text-sm">点击登录</p>
        </div>
        <div>
          <ul class="flex items-center space-x-4">
            <li>
              <Iconpack :icon="EmailSearch"></Iconpack>
            </li>
            <li>
              <Iconpack :icon="ColorFilter"></Iconpack>
            </li>
            <li>
              <Iconpack :icon="More"></Iconpack>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import Iconpack from "@/components/common/Iconpack.vue";
import { Left, Right, EmailSearch, ColorFilter, More } from "@icon-park/vue-next";
import { Search } from '@element-plus/icons-vue';

interface Form {
  search: string
}
const form: Form = {
  search: ''
}
</script>

<style scoped>
.el-form-item {
  /* element 的默认样式覆盖修改  除了这样还可以怎么进行修改？ */
  margin-bottom: 0;
}
</style>
